# flyctl launch added from .gitignore
# Binaries
**/bin
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

# Test binary
**/*.test

# Output of the go coverage tool
**/*.out

# Dependency directories
**/vendor

# Go workspace file
**/go.work

# IDE
**/.idea
**/*.swp
**/*.swo
**/*~

# OS
**/.DS_Store

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
